
<h1> Add Employee</h1>

<div class="container">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="title">Full Name</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" id="fullName" required [(ngModel)]="employee.fullName"
              name="fullName" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="dob">DOB</label>
          </div>
          <div class="col-md-3">
            <input class="form-control" id="dob" required [(ngModel)]="employee.dob" name="dob" type="text" bsDatepicker />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="dob">Gender</label>
          </div>
          <div class="col-md-3">
            <div class="form-group">
          
            <label class="radio-inline">  
            <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender" checked > Male
            </label>
            <label class="radio-inline" >  
            <input type="radio" value="femaile" name="gender" [(ngModel)]="employee.gender" > Female
           </label>
          
          </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="dob">Salary</label>
          </div>
          <div class="col-md-3">
            <input class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="dob">Designation</label>
          </div>
          <div class="col-md-3">
            <input class="form-control" id="designation" required [(ngModel)]="employee.designation"
              name="designation" />
          </div>
        </div>
      </div>

<!-- 
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" (change)="selectFile($event)" />
          </label>
        </div>
      
        <div class="col-4">
          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
        </div>
      </div> -->


      <button (click)="saveEmployee()" class="btn btn-success">Submit</button>
    </div>
  </div>


<!-- 
  <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>

   -->


   


  <div *ngIf="submitted">
    <h4>Employee Submitted Successfully!</h4>
    <button class="btn btn-success" (click)="newEmployee()">Add</button>
  </div>
</div>
